[DEFAULT]

verbose=True
# debug=True

[jobpublisher]
# auth_key = set_your_key_here
# http_port = 4000

[jobworker]
# queue = "worker"

[jobqueue]
# queue = "jobqueue"

[smtp]
# host = localhost
# auth_username = "SMTP authentication username"
# auth_password = "SMTP authentication password"
# email_from = your@email.com

[rabbitMQ]
#host = "192.168.122.50"
#user = "guest"
#passwd = "guest"
#vhost = "/"
#retry = 30
#exchange = "JobRunner"
